# Data Cleaning with Pandas

In [24]:
import pandas as pd

## Scenario

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

### First, get the data!

When working on a project involving data that can fit on our computer, we store it in a `data` directory.

```bash
cd <project_directory>  # example: cd ~/flatiron_ds/pandas-3
mkdir data
cd data
```

Note that `<project_directory>` in angle brackets is a _placeholder_. You should type the path to the actual location on your computer where you're working on this project. Do not literally type `<project_directory>` and _do not type the angle brackets_. You can see an example in the _comment_ to the right of the command above.

Now, we'll need to download the two data files that we need. We can do this at the command line:

```bash
wget https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip
wget https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip
```

*Note:* If you do not have the `wget` command yet, you can install it: `brew install wget`.

Note that `%20` in a URL translates into a space. Even though you will *never put spaces in filenames*, you may need to deal with spaces that _other_ people have used in filenames.

There are two ways to handle the spaces in these filenames when referencing them at the command line.

#### 1. You can _escape_ the spaces by putting a backslash (`\`, remember _backslash is next to backspace_) before each one:

`unzip Real\ Property\ Sales.zip`

This is what happens if you tab-complete the filename in the terminal. Tab completion is your friend!

#### 2. You can put the entire filename in quotes:

`unzip "Real Property Sales.zip"`

Try unzipping these files with the `unzip` command. The `unzip` command takes one argument, the name of the tile that you want to unzip.


You can use tab completion (press the `tab` key after the first three letters) to fill in the names, including spaces. This will

In [25]:
sales_df = pd.read_csv('data/property_sales.csv')

FileNotFoundError: File b'data/property_sales.csv' does not exist

### Seeing pink? Warnings are useful!

Note the warning above: `DtypeWarning: Columns (1, 2) have mixed types.` Because we start with an index of zero, the columns that we're being warned about are actually the _second_ and _third_ columns, `sales_df['Major']` and `sales_df['Minor']`.

In [2]:
sales_df.head().T

NameError: name 'sales_df' is not defined

### Data overload?

That's a lot of columns. We're only interested in identifying the date, sale price, and square footage of each specific property. What can we do?

In [3]:
sales_df = sales_df[['Major', 'Minor', 'DocumentDate', 'SalePrice']]

NameError: name 'sales_df' is not defined

In [4]:
sales_df.info()

NameError: name 'sales_df' is not defined

In [5]:
bldg_df = pd.read_csv('data/res_building.csv')

NameError: name 'pd' is not defined

### Another warning! Which column has index 11?

In [6]:
bldg_df.columns[11]

NameError: name 'bldg_df' is not defined

`ZipCode` seems like a potentially useful column. We'll need it to determine which house sales took place in Seattle.

In [7]:
bldg_df.head().T

NameError: name 'bldg_df' is not defined

### So many features!

As data scientists, we should be _very_ cautious about discarding potentially useful data. But, today, we're interested in _only_ the total square footage of each property. What can we do?

In [8]:
bldg_df = bldg_df[['Major', 'Minor', 'SqFtTotLiving', 'ZipCode']]

NameError: name 'bldg_df' is not defined

In [9]:
bldg_df.info()

NameError: name 'bldg_df' is not defined

In [10]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

NameError: name 'pd' is not defined

### Error!

Why are we seeing an error when we try to join the dataframes?

<table>
    <tr>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013160 entries, 0 to 2013159
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 61.4+ MB</pre></td>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511359 entries, 0 to 511358
Data columns (total 4 columns):
Major            511359 non-null int64
Minor            511359 non-null int64
SqFtTotLiving    511359 non-null int64
ZipCode          468345 non-null object
dtypes: int64(3), object(1)
memory usage: 15.6+ MB
</pre></td>
    </tr>
</table>

Review the error message in light of the above:

* `ValueError: You are trying to merge on object and int64 columns.`

In [11]:
#This will put the Major data into floats, so we can make empty values into NANs
sales_df['Major'] = pd.to_numeric(sales_df['Major'], errors = "coerce")

NameError: name 'pd' is not defined

### Error!

Note the useful error message above:

`ValueError: Unable to parse string "      " at position 936643`

In this case, we want to treat non-numeric values as missing values. Let's see if there's a way to change how the `pd.to_numeric` function handles errors.

In [12]:
# The single question mark means "show me the docstring"
# pd.to_numeric?

Here's the part that we're looking for:
```
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaN
    - If 'ignore', then invalid parsing will return the input
```

Let's try setting the `errors` parameter to `'coerce'`.

In [13]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'], errors='coerce')

NameError: name 'pd' is not defined

Did it work?

In [14]:
sales_df.info()

NameError: name 'sales_df' is not defined

It worked! Let's do the same thing with the `Minor` parcel number.

In [15]:
sales_df['Minor'] = pd.to_numeric(sales_df['Minor'], errors='coerce')

NameError: name 'pd' is not defined

In [16]:
sales_df.info()

NameError: name 'sales_df' is not defined

Now, let's try our join again.

In [17]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

NameError: name 'pd' is not defined

In [18]:
sales_data.head()

NameError: name 'sales_data' is not defined

In [19]:
sales_data.info()

NameError: name 'sales_data' is not defined

We can see right away that we're missing zip codes for many of the sales transactions. (1321536 non-null entries for ZipCode is fewer than the 1436772 entries in the dataframe.)

In [20]:
sales_data.loc[sales_data['ZipCode'].isna()].head()

NameError: name 'sales_data' is not defined

Because we are interested in finding houses in Seattle zip codes, we will need to drop the rows with missing zip codes.

In [21]:
sales_data = sales_data.loc[~sales_data['ZipCode'].isna(), :]

sales_data.head()

NameError: name 'sales_data' is not defined

# Your turn: Data Cleaning with Pandas

### 1. Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.

Use multiple notebook cells to accomplish this! Press `[esc]` then `B` to create a new cell below the current cell. Press `[return]` to start typing in the new cell.

In [22]:
dummy_sales_data = sales_data

NameError: name 'sales_data' is not defined

In [23]:
dummy_sales_data.head()

NameError: name 'dummy_sales_data' is not defined

In [74]:
dummy_sales_data = dummy_sales_data.loc[dummy_sales_data["SalePrice"] > 0, :]
dummy_sales_data.head()

      Major  Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
0  138860.0  110.0   08/21/2014     245000           1490   98002
1  138860.0  110.0   06/12/1989     109300           1490   98002
2  138860.0  110.0   01/16/2005      14684           1490   98002
6  423943.0   50.0   07/15/1999      96000            960   98092
7  423943.0   50.0   01/08/2001     127500            960   98092

In [75]:
dummy_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 867413 entries, 0 to 1437520
Data columns (total 6 columns):
Major            867413 non-null float64
Minor            867413 non-null float64
DocumentDate     867413 non-null object
SalePrice        867413 non-null int64
SqFtTotLiving    867413 non-null int64
ZipCode          867413 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 46.3+ MB

In [76]:
dummy_sales_data = dummy_sales_data.loc[dummy_sales_data["SqFtTotLiving"] > 0,:]
dummy_sales_data.head()

      Major  Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
0  138860.0  110.0   08/21/2014     245000           1490   98002
1  138860.0  110.0   06/12/1989     109300           1490   98002
2  138860.0  110.0   01/16/2005      14684           1490   98002
6  423943.0   50.0   07/15/1999      96000            960   98092
7  423943.0   50.0   01/08/2001     127500            960   98092

In [77]:
dummy_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 867404 entries, 0 to 1437520
Data columns (total 6 columns):
Major            867404 non-null float64
Minor            867404 non-null float64
DocumentDate     867404 non-null object
SalePrice        867404 non-null int64
SqFtTotLiving    867404 non-null int64
ZipCode          867404 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 46.3+ MB

### 2. Investigate and handle non-numeric ZipCode values

Can you find a way to shorten ZIP+4 codes to the first five digits?

What's the right thing to do with missing values?

In [29]:
# Read the error message and decide how to fix it.
# Note: using errors='coerce' is the *wrong* choice in this case.
# def is_integer(x):
#     try:
#         _ = int(x)
#     except ValueError:
#         return False
#     return True

# sales_data.loc[sales_data['ZipCode'].apply(is_integer) == False, 'ZipCode'].head()

10168    98042-3001
10169    98042-3001
10170    98042-3001
10171    98042-3001
10172    98042-3001
Name: ZipCode, dtype: object

I did not know how to use the is_integer function so I ultimately did not.

In [78]:
#Get a look at some of the unusual values
dummy_sales_data["ZipCode"].value_counts()

98042         25815
98038         21859
98115         21314
98023         20504
98006         20282
98058         19715
98052         19394
98117         19174
98103         17849
98118         17667
98034         17530
98133         16672
98074         16293
98033         15905
98155         15499
98059         15051
98056         14565
98031         13860
98092         13592
98125         13480
98001         13368
98053         13144
98003         12798
98075         12299
98168         12057
98178         11889
98106         11840
98008         11709
98029         11238
98027         11175
              ...
98074-6568        1
98054             1
98075-9565        1
95055             1
8126              1
98028-4377        1
98043             1
98101             1
98075-8005        1
28028             1
0                 1
B                 1
90855             1
98075-9517        1
98031-3173        1
95059             1
98045-9504        1
98075-6010        1
98028-6100        1
98013.0           1
98028-4505        1
98023-7841        1
98028-4712        1
98176             1
98059-7120        1
98074-4122        1
98044             1
99019             1
98006-3954        1
98028-8908        1
Name: ZipCode, Length: 271, dtype: int64

In [86]:
#Find out what kind of data these zipcodes are
type(dummy_sales_data["ZipCode"][60])

str

In [87]:
dummy_sales_data = dummy_sales_data.loc[((dummy_sales_data["ZipCode"].str.len()) > 4), :]

In [88]:
len(dummy_sales_data["ZipCode"])

782966

Take a look at what kinds of zip codes we have left.

In [90]:
dummy_sales_data["ZipCode"].unique()

array(['98002', '98092', '98008', '98058', '98038', '98031', '98188',
       '98051', '98001', '98108', '98198', '98115', '98118', '98072',
       '98117', '98039', '98155', '98075', '98003', '98103', '98022',
       '98042', '98040', '98133', '98105', '98056', '98102', '98053',
       '98168', '98027', '98011', '98074', '98146', '98024', '98029',
       '98006', '98005', '98028', '98034', '98144', '98030', '98177',
       '98166', '98065', '98112', '98116', '98010', '98199', '98032',
       '98106', '98059', '98070', '98045', '98136', '98125', '98023',
       '98033', '98077', '98109', '98055', '98178', '98052', '98122',
       '98014', '98004', '98119', '98107', '98126', '98007', '98019',
       '98224', '98148', '98047', '98288', '98050', '98042-3001', '98354',
       '98068', '98199-3014', '98057', '98302', '98083', '98031-3173',
       '98033-4917', '98058-9018', '98121', '98136-1728', '98058-7983',
       '98074-6315', '98043', '98052-1963', '98113', '98134', '98026',
       '89118', '98104', '98023-2712', '98028-4768', '98038-3112',
       '98177-4810', '98000', '98204', '98074-4417', '98035',
       '98074-3438', '98059-7428', '98422', '98034-2540', '98132',
       '98023-7330', '98028-2118', '98074-9301', '98006-3954',
       '98053-5932', '98074-2814', '98008-4429', '98075-9644',
       '98055-2521', '98075-6010', '98118-6116', '95059', '98097',
       '98074-5411', '98028-4377', '28028', '98189', '98198-8930',
       '98017', '98025', '98075-9645', '98044', '98028-7915',
       '98107-5353', '98111', '98074-7242', '98028-4228', '98074-3908',
       '90108', '98033-8239', '98075-9158', '98118-3167', '98079',
       '98021', '98029-3602', '98028-4505', '98075-9517', '98028-1654',
       '95055', '98028-4712', '98009', '98075-8010', '98074-6568',
       '98011-3777', '98059-5449', '98075-8005', '98058-5344',
       '98074-3738', '98063', '98074-4092', '98146-3008', '98059-7120',
       '98042-8215', '98028-4625', '98028-8908', '98075-9565', '98176',
       '98042-4811', '98023-7841', '98045-9504', '98101', '98074-4122',
       '98028-8533', '98028-6100', '99019', '90855', '98054'],
      dtype=object)

In [91]:
def before_dash(s):
    t = s.split("-")[0]
    return t

In [92]:
before_dash('98074-9301')

'98074'

In [93]:
dummy_sales_data["ZipCode"] = dummy_sales_data["ZipCode"].apply(before_dash)

In [94]:
dummy_sales_data["ZipCode"].unique()

array(['98002', '98092', '98008', '98058', '98038', '98031', '98188',
       '98051', '98001', '98108', '98198', '98115', '98118', '98072',
       '98117', '98039', '98155', '98075', '98003', '98103', '98022',
       '98042', '98040', '98133', '98105', '98056', '98102', '98053',
       '98168', '98027', '98011', '98074', '98146', '98024', '98029',
       '98006', '98005', '98028', '98034', '98144', '98030', '98177',
       '98166', '98065', '98112', '98116', '98010', '98199', '98032',
       '98106', '98059', '98070', '98045', '98136', '98125', '98023',
       '98033', '98077', '98109', '98055', '98178', '98052', '98122',
       '98014', '98004', '98119', '98107', '98126', '98007', '98019',
       '98224', '98148', '98047', '98288', '98050', '98354', '98068',
       '98057', '98302', '98083', '98121', '98043', '98113', '98134',
       '98026', '89118', '98104', '98000', '98204', '98035', '98422',
       '98132', '95059', '98097', '28028', '98189', '98017', '98025',
       '98044', '98111', '90108', '98079', '98021', '95055', '98009',
       '98063', '98176', '98101', '99019', '90855', '98054'], dtype=object)

### 3. Add a column for PricePerSqFt

In [64]:
#I want to divide SalePrice by SqFtTotLiving, so I'll make sure they are all floats
dummy_sales_data["SalePrice"].dtype

dtype('int64')

In [68]:
#I reassigned it using astype. It got mad at me so I'll use loc for the next one
dummy_sales_data["SalePrice"].dtype

dtype('float64')

In [69]:
dummy_sales_data["SqFtTotLiving"].dtype

dtype('int64')

In [70]:
dummy_sales_data = dummy_sales_data.loc[dummy_sales_data["SqFtTotLiving"].astype(float), :]

In [71]:
dummy_sales_data["SqFtTotLiving"].dtype

dtype('float64')

### 4. Subset the data to 2019 sales only.

We can assume that the DocumentDate is approximately the sale date.

### 5. Subset the data to zip codes within the City of Seattle.

You'll need to find a list of Seattle zip codes!

### 6. What is the mean price per square foot for a house sold in Seattle in 2019?

Don't just type the answer. Type code that generates the answer as output!